::-webkit-scrollbar {
  width: 0px;
}

::selection {
  background: rgba(32,42,52,0.5);
}

* {
  margin:0;
  padding:0
  font-weight:normal;
}

html,
body {
  height:100%;
  width:100%; // 100% of screen
}

body {
  background-color:#ccc;
  font-family:"Source Sans Pro", sans-serif;
}

body.change {
  overflow:hidden;
}

.wyns { opacity:1; }

.thecause { opacity:0; }

.about { opacity:0; }

.ourteam { opacity:0; }

.menu-bars {
	display:inline-block;
	cursor:pointer;
	float:left;
	margin:65px 25px 22px 65px;
	z-index:751;
	width:38px;
	transition: 0.4s;
	position:fixed;
}

.bar1,
.bar2,
.bar3 {
	height: 5px;
	background-color: white;
	margin: 3.5px 0;
	float:left;
	transition: 0.4s cubic-bezier(0.755, 0.175, 0.290, 0.825);
}

.bar1 { width: 50px; }

.bar2 { width: 42px; }

.bar3 { width: 34px; }

.menu-bars:hover > .bar1,
.menu-bars:hover > .bar2,
.menu-bars:hover > .bar3 {
	width: 50px;
}

.menu-bars.change {
} .change .bar1 {
	width: 50px;
} .change .bar2 {
	width: 50px;
} .change .bar3 {
	width: 50px;
}

#section-show {
  position:fixed;
  top:60px;
  right:65px;
  height:37px;
  line-height:35px;
  color:white;
  font-family:"Oswald", sans-serif;
  border-style:none solid none none;
  border-color:white;
  border-width:6px;
  padding-right:10px;
  font-size:26px;
  letter-spacing:1px;
  transition:0.2s all;
  text-transform:uppercase;
}

img,
#bg-video {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  object-fit:cover;
  z-index:-1;
}

img.logo {
  width:200px;
  height:200px;
  position:absolute;
  top:calc(50vh - 100px);
  left:calc(50vw - 100px);
  opacity:0.8;
}

div.img-overlay {
  z-index:0;
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  background:rgba(255,255,255,0.1);
  /*
  background-image: url("dot.png");
  background-repeat:repeat;
  */
}

#otay {
  height:100vh;
  width:100vw;
  transition:1s all cubic-bezier(0.45, 0.02, 0.01, 1);
  position:fixed;
  z-index:750;
}

#otay.change {
  background-color:rgba(0,0,0,0.4);
}

#otay.change main {
  margin-left:0;
}

section {
  min-height:100vh;
  z-index:500;
}

#fixed-bg {
  z-index:-1;
  position:fixed;
}

main {
  position: relative;
  display: inline-block;
  padding: 9em 5em 1em 3em;
  color: #fff;
  height:calc(100% - 0px);
  width:calc(25% - 100px);
  box-sizing:border-box;
  z-index:1;
  margin-left:-50vw;
  transition:1s all cubic-bezier(0.45, 0.02, 0.01, 1);
}

main:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(32,42,52,0.7);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: skew(-12.28deg);
  -ms-transform: skew(-12.28deg);
  transform: skew(-12.28deg);
  z-index: -1;
}

#otay h1 {
  position:relative;
  padding:0 10px;
  color:white;
  width:800px;
  text-align:left;
  line-height:50px;
  font-size:55px;
  text-transform:uppercase;
  font-family:"Oswald", sans-serif;
  letter-spacing:3px;
  text-shadow:5px 5px 0 rgba(0,0,0,0.5);
  position:absolute;
  z-index:700;
  margin-left:60px;
  opacity:0;
  margin-top:15vh;
  transition:1s all cubic-bezier(0.45, 0.02, 0.01, 1);
}

#otay.change h1 {
  opacity:1;
  margin-top:21vh;
}

main nav {
  width:350px;
  height:auto;
  margin-top:14vh;
}

main nav ul {
  list-style-type: none;
  padding-left:25px;
}

main nav ul li {
  font-family:"Oswald", sans-serif;
  text-transform:uppercase;
  letter-spacing:1.5px;
  width:auto;
  height:50px;
  display:inline-block;
  margin:20px 0;
}

main nav ul li a.social-link {
  border:none;
  padding-left:13px;
  box-sizing:border-box;
  width:50px;
  height:50px;
  line-height:50px;
  margin-right:20px;
  box-shadow:5px 5px 0 rgba(0,0,0,0.5);
}

.fa {
  font-size:30px !important;
  line-height:30px !important;
}

.fa-facebook:hover {
  background-color:#193B6C !important;
  text-align:left !important;
}

.fa-instagram:hover {
  background-color:#C82D46 !important;
  text-align:center !important;
}

main nav ul li a {
  text-decoration:none;
  color:white;
  background:#202A34;
  padding:10px 15px;
  display:block;
  width:auto;
  font-size:28px;
  position:relative;
  transition:0.4s all;
  text-shadow:0 0 10px rgba(0,0,0,0.3);
  border-style:none none none solid;
  border-width:5px;
  border-color:white;
  box-shadow:5px 5px 0 rgba(0,0,0,0.5);
}

main nav ul li a:hover {
  background:#192129;
  border-width:15px;
}

section#cause {
  background-color:black;
}

section#about {
  background-color:green;
}

section#team {
  background-color:blue;
}
